@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';


html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 0;
}

main {
    margin-bottom: 210px;
}

footer.footer {
    padding: 40px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

p {
    font-family: $font-family-serif;
    font-size: 18px;
}

h1 {
    font-family: "Island moments";
    margin-top: 20px;
    font-size: 60px;
}

.banniere {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    overflow: hidden;
}

.banniere-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.banniere-content {
    position: relative;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-center;
    justify-content: flex-start;
    margin-left: 50px;
    top: 50px;
    text-align: left;
}

.text-banniere {
    margin-top: 100px;
}

.text-justify {
    text-align: justify;
}

.image-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover {
        .titre-image {
            opacity: 1;
        }

        img {
            filter: brightness(0.3);
        }
    }

    img {
        transition: all 0.3s;

    }

    .titre-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 100%;
    }

    .footer.footer {
        padding: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 90%;
    }

    .footer.footer {
        padding: 40px;
    }
}

@media screen and (max-width: 768px) {
    .banniere {
        min-height: 220px;
    }

    .banniere-image {
        object-fit: cover;
    }

    .banniere-content {
        margin-left: 20px;
        top: 30px;
    }

    .footer.footer {
        padding: 10px;
    }
}