<IfModule mod_rewrite.c>
  RewriteEngine On

  # Ne pas réécrire les fichiers ou dossiers existants
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Toutes les autres requêtes vont vers index.html (SPA)
  RewriteRule ^ index.html [L]
</IfModule>


